section {
	position: absolute;
	box-sizing: border-box;
	overflow: hidden;
}

section#nav {
	bottom: 0%;
	left: 0%;
	height: 90%;
	width: 100%;

	border-top: solid 1px #777;
}

	section#nav_subjects {
		height: 100%;
		width: 30%;
		top: 0;
		left: 0;

		border-right: solid 1px #777;
	}

		div.nav_subjects_object,
		div.nav_links_object {
			width: 100%;
			padding: 15px;

			box-sizing: border-box;
			border-bottom: dashed 1px #777;

			font-family: "Open Sans";
			color: #333;

			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e5e5+0,f7f7f7+100 */
			background: #e5e5e5; /* Old browsers */
			background: -moz-linear-gradient(top,  #e5e5e5 0%, #f7f7f7 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #e5e5e5 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #e5e5e5 0%,#f7f7f7 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #e5e5e5 0%,#f7f7f7 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #e5e5e5 0%,#f7f7f7 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
		}

		div.nav_subjects_object.selected {
			color: #EEE;

			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#606c88+0,3f4c6b+100;Grey+3D+%232 */
			background: #606c88; /* Old browsers */
			background: -moz-linear-gradient(top,  #606c88 0%, #3f4c6b 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606c88), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #606c88 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #606c88 0%,#3f4c6b 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #606c88 0%,#3f4c6b 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #606c88 0%,#3f4c6b 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
		}

	section#nav_links {
		height: 100%;
		width: 70%;
		top: 0;
		left: 30%;
	}