<html>
	<head>
		<title>CDI13 - Cours</title>
		
		{% javascripts '@CDI13LinksBundle/Resources/public/js/*' %}
		<script src="{{ asset_url }}"></script>
		{% endjavascripts %}

		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

		{% stylesheets '@CDI13LinksBundle/Resources/public/css/*' filter='cssrewrite' %}
		    <link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}

	</head>

	<body>

		{# <div style="position: absolute; bottom: 0px; left: 0px; z-index: 100000000;">
			<div class="color-test-background" style="height: 30px; width: 30px;"></div>
			<div class="color-test-dark-background" style="height: 30px; width: 30px;"></div>
			<div class="color-test-clear" style="height: 30px; width: 30px;"></div>
			<div class="color-test-base" style="height: 30px; width: 30px;"></div>
			<div class="color-test-color" style="height: 30px; width: 30px;"></div>
			<div class="color-test-highlight" style="height: 30px; width: 30px;"></div>
		</div> #}

		<section id="head" class="row">

			<!-- Permet la recherche -->

			<section id="head_back">
				<div id="head_back_button" class="button">
					&lt;
				</div>
			</section>

			<section id="head_add_container_searchtextbox">
				<div id="head_search_textarea" class="textarea" contenteditable>
					Chercher un cours
				</div>
			</section>

			<!-- Permet l'ajout de liens -->

			<section id="head_add_container_addtextbox">
				<div id="head_add_textarea" class="textarea" contenteditable>
					Ajouter un lien vers un cours
				</div>
			</section>

			<section id="head_add_container_addbutton">
				<div id="head_add_button" class="button">
					Ajouter
				</div>
			</section>
				
		</section>

		<section id="nav" class="row">
			<!-- Contient la navigation -->

			<section id="nav_subjects" class="placement-hidden-right">
				<!-- Liste des matières -->

				<!-- 
					Les matières sont de type :
					<div class="nav_subjects_object" data-cdi13-id="<subject_id>">Nom de la matière</div>
				 -->
			</section>

			<section id="nav_links" class="placement-hidden-right">
				<!-- Liste des cours de la matière selectionnée -->

				<!-- 
					Les matières sont de type :
					<div class="nav_links_object" data-cdi13-id="<id>" data-cdi13-link="<lien>">Nom du cours</div>
				 -->
			</section>

			<section id="nav_iframe" class="placement-hidden-right">
				<div class="loader">
					<div class="loading">
						<div class="ball ball1"></div>
						<div class="ball ball2"></div>
						<div class="ball ball3"></div>
						<div class="ball ball4"></div>
						<div class="ball ball5"></div>
						<div class="ball ball6"></div>
						<div class="ball ball7"></div>
						<div class="ball ball8"></div>
					</div>
				</div>
				<iframe src=""></iframe>
			</section>

		</section>

	</body>
</html>
