/* Fond */

body
{
	background-color: #fff;
}

/* Base */

div.button,
div.nav_subjects_object,
div.nav_links_object,
div.textarea
{
	background-color: #ecf0f1;
}

/* Couleur 1 */

div.button:hover,
div.nav_subjects_object:hover,
div.nav_links_object:hover
{
	color: #ecf0f1;
	background-color: #2980b9;
}

/* Couleur 2 */

div.nav_subjects_object.selected
{
	color: #ecf0f1;
	background-color: #2c3e50;
}