section#head_add_container_addtextbox,
section#head_add_container_addbutton,
section#head_add_container_searchtextbox,
section#head_back {
	position: absolute;
	height: 100%;
	box-sizing: border-box;
	padding: 9px 5px;
}

section#head_back {
	left: 0;
	width: 60px;
}

section#head_add_container_searchtextbox {
	left: 60px;
	right: 60%;
}

section#head_add_container_addtextbox {
	left: 40%;
	width: 50%;
}

section#head_add_container_addbutton {
	left: 90%;
	width: 10%;
}

	div#head_add_textarea,
	div#head_add_button,
	div#head_search_textarea,
	div#head_back_button {
		position: relative;
		float: left;
	}