section {
	position: absolute;
	box-sizing: border-box;
	overflow: hidden;
}

section#head {
	top: 0;
	height: 50px;
}

section#nav {
	top: 50px;
	bottom: 0;
}

	section#nav section#nav_subjects,
	section#nav section#nav_links {
		padding-top: 10px;
	}

	section#nav section {
		-webkit-transition: all 0.5s ease-in-out;

		overflow-y: auto;
	}

		section#nav_iframe iframe {
			height: 100%;
			width: 100%;
			border: none;
		}

/* Placement */

.placement-fullscreen {
	height: 100%;

	width: 100%;
	left: 0;
}

.placement-left {
	height: 100%;

	width: 30%;
	left: 0;
}

.placement-right {
	height: 100%;

	width: 70%;
	left: 30%;
}

.placement-hidden-left {
	height: 100%;

	width: 100%;
	left: -100%;
}

.placement-hidden-right {
	height: 100%;

	width: 100%;
	left: 100%;
}
