section {
	position: absolute;
	box-sizing: border-box;
	overflow: hidden;
}

section#head {
	top: 0;
	height: 42px;

	box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
}

section#nav {
	top: 42px;
	bottom: 0;

	border-top: solid 1px #777;
}

	section#nav section {
		box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
		background-color: #fff;

		-webkit-transition: all 0.5s ease-in-out;
	}

/* Placement */

.placement-fullscreen {
	height: 100%;

	width: 100%;
	left: 0;
}

.placement-left {
	height: 100%;

	width: 30%;
	left: 0;
}

.placement-right {
	height: 100%;

	width: 70%;
	left: 30%;
}

.placement-hidden-left {
	height: 100%;

	width: 100%;
	left: -100%;
}

.placement-hidden-right {
	height: 100%;

	width: 100%;
	left: 100%;
}
