section {
	position: absolute;
	box-sizing: border-box;
	overflow: hidden;
}

section#nav {
	bottom: 0%;
	left: 0%;
	height: 90%;
	width: 100%;

	border-top: solid 1px #777;
}

	section#nav_subjects {
		height: 100%;
		width: 30%;
		top: 0;
		left: 0;

		border-right: solid 1px #777;
	}

	section#nav_links {
		height: 100%;
		width: 70%;
		top: 0;
		left: 30%;
	}

section#head {
	top: 0;
	left: 0;
	height: 10%;
	width: 100%;
}

	section#head_search {
		height: 100%;
		width: 50%;
		top: 0;
		left: 0;
	}
	
	section#head_add {
		height: 100%;
		width: 50%;
		top: 0;
		left: 50%;
	}