div.textarea {
	position: relative;

	display: inline;

	width: 100%;
	height: 100%;

	box-sizing: border-box;
	/*border: solid 1px #444;*/

	/*font-size: 10px;*/

	outline: 0px solid transparent;;

	padding: 5px 20px;

	overflow: hidden;
	white-space: nowrap;

	box-shadow:
    /* regular bottom */
    0 .0625em .125em rgba(0, 0, 0, .125),
    /* inset bottom */
    inset 0 -.25em 0 -.125em rgba(0, 0, 0, .125),
    /* category color (left) */
    inset 1em 0 0 -.7em rgba(0, 0, 0, .2);
}