/* --- Background --- */

.color-test-background

,section#head
,section#nav section#nav_iframe
,body
{
	background-color: #F7F7F7;
}



/* --- Dark Background --- */

.color-test-dark-background

/* HackMD Links */
,div.nav_links_object:hover div.content .hackmd_link:hover

,section#nav
,section#nav section

{
	color: #F7F7F7;
	background-color: #233;
}



/* --- Clear --- */

.color-test-clear

/* Button & Textarea */
,section#head div.button
,section#head div.textarea

{
	color: #333;
	background-color: #ECECEC;
}



/* --- Base --- */

.color-test-base

/* Button & Textarea */
,section#head div.button:hover
,section#head div.textarea:focus

/* Nav Objects */
,div.nav_subjects_object div.content
,div.nav_links_object div.content

{
	color: #F7F7F7;
	background-color: #3E717B;
}

.none

/* Nav Objects */
,div.nav_subjects_object div.content
,div.nav_links_object div.content
{
	border-color: #3E717B;
}



/* --- Color --- */

.color-test-color

/* Nav Objects */
,div.nav_subjects_object:hover div.content
,div.nav_links_object:hover div.content

/* HackMD Links */
,div.nav_links_object div.content .hackmd_link

{
	color: #F7F7F7;
	background-color: #21525C;
}



/* --- Highlight --- */

.color-test-highlight

/* Nav Objects */
,div.nav_subjects_object.selected div.content

/* HackMD Links */
,div.nav_links_object:hover div.content .hackmd_link
,div.nav_links_object div.content .hackmd_link:hover

{
	color: #F7F7F7;
	background-color: #1B4047;
}